*{
    margin: 0px;
    padding: 0px;
}
/* first-part-style */
.container{
    background-color: #2D25A0;
}
.titles{
    display: flex;
}
.title{
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-left: 140px;
    margin-top: 207px;

}
.banner img{
    width: 556.01px;
    height: 438px;

}
.banner{
    margin-top: 153px;
    margin-right: 40px; 
    margin-left: 40px;
    margin-bottom: 86px;
}
.watch-btn{
    background-color:#E02C6D;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px 10px 24px;
    color: white;
    border: none;
}
.watch-btn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    border: 3px solid #E02C6D;
    transition-duration: 0.5s;
}

/* 2nd part style */
.all-player{
    margin-top: 70px;
    background-color: white;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center;
}
.player img{
    width: 300px;
    height: 256px;
    margin: 16px 0px;
    padding-left: 30px;
}
.card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 80%;

}
.player-info{
    padding-left: 30px;
    padding-right: 25px;
    text-align: justify;
    margin-bottom: 15px;
    color: #6C6C6C;
}
.player-name{ 
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom:5%;
    color: #18191F;
}
.player-name:hover{
    color: #E02C6D;
}
.player-details{
    text-align: justify
}

/* third part */
.highlight-section{
    margin-top: 165px;
}
.match img{
    width: 500px;
    height: 400px;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlights-text{
    width: 50%;
    margin-right: 30px;
    text-align: justify;
}
.head{
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 3px;

}
.info-text{
    color: #6C6C6C;
    font-size: 16px;
    right: 0px;
    width: 400px;
    padding: 10px 0;
    letter-spacing: 1px;
}

/* footer part */


.logo img{
    width: 450px;
    height: 150px;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}

.icon img{
    width: 5%;
}
.footer-section{
    text-align: center;
}

.Copyright-section{
    margin-top: 20px;
}
.icon img:hover{
    background-color: #E02C6D;
    border-radius: 30px;
}



/* bonus part style */
.form-info {
    width: 80%;
    padding: 12px 40px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:rgb(255, 242, 239);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  select{
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }

  .form-text{
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 30px;
      color: #E02C6D;
  }

 
  
  .btn {
    width: 50%;
    background-color: #E02C6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
   
 
    .form {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 20px;  
    }
  .sub-btn{
    text-align: center;
  }

  .football img{
      max-width: 100%;
      display: block;
      margin-left: 100px;
      margin-top: 100px;
  }

  .football img:hover{
    transform: scale(1.2);
    transition: transform 2s;
  }

  .find-football{
    color:rgb(33, 33, 85);
    text-align: center;
    margin-top: 80px;
  }

  .bonus-title{
      font-size: 50px;    
      letter-spacing: 2px;  
}

.description{
    font-size: 20px;
}





@media (max-width: 992px){

    .titles{
        flex-direction: row;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .title{
        font-size:50px;
        font-weight:400;
        color: rgb(255, 255, 255);
        padding-left: 40px;


    }

    .football img{
        max-width: 60%;
        display: block;
        margin-left: 200px;
        margin-top: 100px;
    }

    .player img{
        width: 335px;
        height: 250px;
    }

    .blog{
        flex-direction: row;
    }

    .match img{
        width: 300px;
        height: 200px;
        margin-top: 50px;
    }
}

/* ---------- */


@media (max-width: 688px){
    .titles{
        flex-direction: column;
    }
    .title{
        font-size: 60px;
        font-weight:400;
        color: rgb(255, 255, 255);
        padding-left: 20px;
        margin-right: 100px;

    }

    .banner img{
        width: 400px;
        height: 300px;
    
    }

    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .player img{
        width: 477px;
        height: 300px;
    }

    .football img{
        max-width: 80%;
        display: block;
        margin-left: 60px;
        margin-top: 100px;
    }
    .blog{
        flex-direction: column;
    }

    .match img{
        width: 300px;
        height: 200px;
        margin-top: 50px;
    }
}


@media (max-width: 425px){
    .titles{
        flex-direction: column;
    }

    .container{
        background-color: #2D25A0;
        width: 115%;
    }


    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .player img{
        width: 177px;
        height: 150px;
    }

    .form-text{
        font-size: 25px;
        text-align: center;
    }

    .card{
        width: 55%;
    }


    .highlights-text{
        width: 50%;
        margin-right: 100px;
        text-align: justify;
    }

    .match img{
        width: 280px;
        height: 200px;
        margin-top: 50px;
    }
}









